* {
  /* border: 1px solid white; */
}
.container-footer {
  background-color: #0a0416;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-footer h3 {
  font-size: 1.2rem;
  margin: 0 1em;
}

.container-footer .contactBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.container-footer .contactBox a {
  display: inline-block;
  color: #ffffff;
  margin: 0 0.5em;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s;
}

.container-footer .contactBox a:first-child {
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
}

.container-footer a:hover:first-child {
  background-color: #0a0416;
  box-shadow: none;
  color: #00aced;
  box-shadow: 0 0 1px #00aced, 0 0 5px #00aced, 0 0 5px #00aced;
  border-color: #00aced;
  transform: scale(1.1);
}

.container-footer a:hover {
  color: #000000;
  box-shadow: 0 0 30px #00aced, 0 0 40px #00aced;
  background-color: #00aced;
}

.container-footer a .icon:hover {
  transform: scale(1.5);
}

.container-footer a .icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

.container-footer {
  margin-bottom: 20px;
}
