* {
  /* border: 1px solid white; */
}
.container-footer {
  background-color: #0a0416;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-footer h3 {
  font-size: 1.2rem;
  margin: 0 1em;
}

